/* === Common === */

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.padding-site {
    padding-left: 130px;
    padding-right: 130px;
}

.hidden {
    visibility: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ee3643;
    text-decoration: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 38px;
    padding: 10px 25px;
    border-radius: 3px;
    box-sizing: border-box;
}

/* === / Common === */

/* === index-page === */
/* === header === */
.page-header {
    font-family: "Cuprum", Arial, sans-serif;
    background: url("../img/header_background.jpg") repeat;
}

/* === top === */
.page-header__wrapper-top {
    display: flex;
    color: #fff;
    background-color: #293449;
}

/* === logo === */
.page-header__logo {

}

.logo {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    box-shadow: 0 5px 0 #b52933;
    background-color: #ee3643;
    display: flex;
    align-items: center;
    padding: 10px 55px;
}

.logo:hover,
.logo:focus {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

/* === / logo === */

/* === search-form === */
.page-header__search-form {
    position: relative;
}

.page-header__search-input {
    padding-left: 50px;
    width: 270px;
    height: 100%;
    background-color: #293449;
    color: #fff;
    border: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
}

.page-header__search-input:focus {
    color: #000;
    background-color: #fff;
}

.page-header__search-button {
    position: absolute;
    top: 50%;
    left: 17px;
    margin-top: -8px;
    width: 17px;
    height: 17px;
    border: none;
    background-color: transparent;
    background-image: url(../img/icon-search.svg);
}

.page-header__search-button--red {
    background-image: url(../img/icon-search-red.svg);
}

/* === / search-form === */

/* === order-menu === */
.page-header__order-menu {
    margin-left: auto;
}

.order-menu {
    /*display: flex;*/
}

.order-menu__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.order-menu__item {
    align-items: center;
    display: flex;
}

.order-menu__button {
    font-size: 17px;
    text-transform: none;
    min-height: 42px;
}

.button--bookmarks {
    background-color: #293449;
    padding-left: 44px;
    position: relative;
    min-width: 150px;
}

.button--bookmarks:hover,
.button--bookmarks:focus {
    background-color: #212a3a;
}

.button--bookmarks:active {
    background-color: #161d29;
    opacity: 0.6;
}

.button--bookmarks::before {
    content: "";
    opacity: 0.3;
    position: absolute;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
}

.button--bookmarks:hover.button--bookmarks::before,
.button--bookmarks:focus.button--bookmarks::before {
    opacity: 1;
}

.button__bookmarks-quantity {

}

.button--cart {
    background-color: #293449;
    padding-left: 44px;
    position: relative;
    min-width: 150px;
}

.button--cart:hover,
.button--cart:focus {
    background-color: #212a3a;
}

.button--cart:active {
    background-color: #161d29;
    opacity: 0.6;
}

.button--cart::before {
    content: "";
    opacity: 0.3;
    position: absolute;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
}

.button--cart:hover.button--cart::before,
.button--cart:focus.button--cart::before {
    opacity: 1;
}

.button__cart-quantity {

}

.button--order {
    background-color: #63a63e;
    padding: 10px 21px;
    width: 150px;
}

.button--order:hover,
.button--order:focus {
    background-color: #5fbb2d;
}

.button--order:active {
    background-color: #518534;
    opacity: 0.5;
}

/* === / order-menu === */
/* === /top === */

/* === info === */
.page-header__wrapper-info {
    padding-top: 45px;
    padding-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
}

.page-header__slogan {
    padding-left: 50px;
    margin: 0 70px 0 0;
    width: 200px;
    /*height: 60px;*/
    color: #ee3643;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
}

.page-header__contacts {
    margin: 0;
}

.page-header__phone {
    padding: 12px 30px 12px 75px;
    width: 270px;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    display: block;

    color: #ee3643;
    background-color: #f3f7f8;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 15px 15px;
    font-size: 21px;
    line-height: 21px;
}

.page-header__address {
    display: block;
    color: #32425c;
    font-size: 14px;
    line-height: 24px;
    margin-left: 10px;

}

.page-header__login-menu {
    margin-left: auto;
}

.login-menu {
}

.login-menu__wrapper {
    display: flex;
}

.login-menu__button {
    color: #000000;
    background-color: #ffffff;
    font-size: 21px;
    line-height: 21px;
    text-transform: none;
    height: 45px;
    box-sizing: border-box;
}

.login-menu__button:hover,
.login-menu__button:focus {
    color: #ee3643;
}

.login-menu__button:active {
    color: #bebebe;
}

.button--login {
    margin-right: 10px;
    padding-left: 50px;
    position: relative;
}

.button--login:hover.button--login::before,
.button--login:focus.button--login::before {
    background: url("../img/icon-login-hover.svg") no-repeat;
}

.button--login:active.button--login::before {
    background: url("../img/icon-login.svg") no-repeat;
}

.button--login::before {
    position: absolute;
    left: 15px;
    content: "";
    width: 20px;
    height: 17px;
    background: url("../img/icon-login.svg") no-repeat;
}

.button--registration {

}

.button--profile {
    width: 250px;
    padding-left: 45px;
    padding-right: 15px;
    background-image: url("../img/icon-user.svg");
    background-repeat: no-repeat;
    background-position: 13px center;
}

.button--profile:hover,
.button--profile:focus {
    background-image: url("../img/icon-user-hover.svg");
}

.button--profile:active {
    background-image: url("../img/icon-user.svg");
}

.button--exit {
    width: 50px;
    background-image: url("../img/icon-logout.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.button--exit:hover,
.button--exit:focus {
    background-image: url("../img/icon-logout-hover.svg");
}

.button--exit:active {
    background-image: url("../img/icon-logout.svg");
}

.login-menu__list {
    display: flex;
    margin: 10px 0 0 0;
    padding-left: 17px;
}

.login-menu__item {
    margin-right: 30px;
}

.login-menu__item:first-child {
    list-style: none;
}

.login-menu__link {
    color: #32425c;
    font-size: 16px;
    line-height: 18px;
}

.login-menu__link:hover,
.login-menu__link:focus {
    color: #ee3643;
}

.login-menu__link:active {
    opacity: 0.3;
    color: #32425c;
}

/* === / info === */

/* === site navigation === */
.page-header__site-navigation {
    padding-bottom: 60px;
}

.site-navigation {

}

.site-navigation__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.site-navigation__item {
    display: flex;
    flex-grow: 1;
}

.site-navigation__link {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
    box-shadow: inset 0 -5px 0 #293449;
    background-color: #32425c;
}

.site-navigation__link:hover,
.site-navigation__link:focus {
    background-color: #293449;
}

.site-navigation__link:active {
    background-color: #1d2739;
    color: #8a8f98;
}

/* === / site navigation === */
/* === / header === */

/* === main === */
.main-index {

}

/* === features === */
.main-index__features {
    padding-top: 60px;
    padding-bottom: 43px;
}

.features {
    display: flex;
    justify-content: space-between;
}

.features__left-column {
    display: flex;
    flex-direction: column;
}

.features__left-column-wrapper {
    display: flex;
    justify-content: space-between;
}

.features__mini-banner {
    margin-bottom: 20px;
}

.mini-banner {
    padding: 25px 140px 22px 25px;
    width: 300px;
    box-sizing: border-box;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.mini-banner--new::after {
    content: "new";
    width: 100px;
    height: 20px;
    display: flex;
    position: absolute;
    top: 8px;
    right: -31px;
    background-color: red;
    transform: rotate(45deg);
    justify-content: center;
    align-items: center;
}

.mini-banner--materials {
    background-color: #ffbf47;
    background-image: url("../img/features-icon-1.svg");
    background-repeat: no-repeat;
    background-position: right 10% top 50%;
}

.mini-banner--tools {
    background-color: #3bbce3;
    background-image: url("../img/features-icon-2.svg");
    background-repeat: no-repeat;
    background-position: right 10% top 50%;
}

.mini-banner--equipment {
    background-color: #dc91d8;
    background-image: url("../img/features-icon-3.svg");
    background-repeat: no-repeat;
    background-position: right 10% top 50%;
}

.mini-banner--discount {
    background-color: #8ed78f;
    background-image: url("../img/features-icon-4.svg");
    background-repeat: no-repeat;
    background-position: right 10% top 50%;
}

.mini-banner--delivery {
    background-color: #ffc047;
    background-image: url("../img/features-icon-5.svg");
    background-repeat: no-repeat;
    background-position: right 10% top 50%;
}

.mini-banner__headline {
    font-family: "Cuprum", Arial, sans-serif;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.mini-banner__button {

}

.button--features-banner {
    width: 135px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

.button--features-banner:hover,
.button--features-banner:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.button--features-banner:active {
    background-color: rgba(0, 0, 0, 0.3);
}

/* === features__slider === */
.features__slider {

}

.slider {
    position: relative;
    width: 620px;
    height: 266px;
}

.slider__radio {

}

.slider__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 22px;
    height: 40px;
}

.slider__arrow:hover {
    cursor: pointer;
}

.slider__arrow--prev {
    left: 25px;
}

.slider__arrow--prev::before {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    transform: rotate(-45deg);
    top: 9px;
    left: -4px;
    position: absolute;
}

.slider__arrow--prev::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    transform: rotate(45deg);
    bottom: 9px;
    left: -4px;
    position: absolute;
}

.slider__arrow--next {
    right: 20px;
}

.slider__arrow--next::before {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    transform: rotate(45deg);
    top: 9px;
    left: -4px;
    position: absolute;
}

.slider__arrow--next::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    transform: rotate(-45deg);
    bottom: 9px;
    left: -4px;
    position: absolute;
}

.slider__toggle {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.slider__toggle:hover {
    cursor: pointer;
}

.slider__toggle::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ee3643;
    display: none;
}

.slider__toggle--left {
    left: 295px;
}

.slider__toggle--right {
    right: 295px;
}

.slider__item {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 25px;
    box-sizing: border-box;
}

.slider__item--first {
    background: url("../img/slider-power-drill.jpg") center no-repeat;
}

.slider__item--second {
    background: url("../img/slider-drill.png") center no-repeat;
}

.slider__headline {
    margin: 0 0 5px 0;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.slider__text {
    display: block;
    max-width: 300px;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 120px;
}

.slider__button {
    position: absolute;
    left: 25px;
    bottom: 60px;
}

.button--slider {
    width: 195px;
}

.button--slider:hover,
.button--slider:focus {
    background-color: #ca2c37;
}

.button--slider:active {
    background-color: #ba2732;
}

.slider__radio--first:checked ~ .slider__item--first {
    display: block;
}

.slider__radio--second:checked ~ .slider__item--second {
    display: block;
}

.slider__radio--first:checked ~ .slider__toggle--left::before {
    display: block;
}

.slider__radio--second:checked ~ .slider__toggle--right::before {
    display: block;
}

/* === / features__slider === */
/* === / features === */

/* === popular-products === */
.main-index__popular-products {

}

.popular-products {

}

.popular-products__section-header {

}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: #f9f5f0;
    font-family: "Cuprum", Arial, sans-serif;
}

.section-header__headline {
    margin: 0;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.button--popular {
    width: 253px;
}

.button--popular:hover,
.button--popular:focus {
    background-color: #ca2c37;
}

.button--popular:active {
    background-color: #ba2732;
}

.popular-products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0;
    list-style: none;
}

.popular-products__product-card {

}

.product-card {
    position: relative;
    width: 220px;
    height: 318px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    transition: box-shadow 0.5s;
    overflow: hidden;
}

.product-card--new::after {
    color: #FFFFFF;
    content: "new";
    width: 100px;
    height: 20px;
    display: flex;
    position: absolute;
    top: 8px;
    right: -31px;
    background-color: red;
    transform: rotate(45deg);
    justify-content: center;
    align-items: center;
}


.product-card:hover {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-card__image {
    margin-bottom: auto;
}

.product-card__hover {
    padding: 40px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 10;
    background-color: #fff;
    display: none;
    width: 220px;
    height: 160px;
}

.product-card:hover .product-card__hover {
    display: block;
}

.product-card__hover-button {
    margin-bottom: 8px;
}

.button--buy {
    width: 135px;
    box-shadow: inset 0 -3px 0 #367315;
    background-color: #63a63e;
    background-image: none;
}

.button--buy:hover,
.button--buy:focus {
    background-color: #5fbb2d;
}

.button--buy:active {
    background-color: #518534;
}

.button--in-bookmarks {
    width: 135px;
    border: 3px solid #63a63e;
    background-color: transparent;
    color: #32425c;
    padding-top: 7px;
    padding-bottom: 7px;
}

.button--in-bookmarks:hover,
.button--in-bookmarks:focus {
    border: 3px solid #32425c;
}

.button--in-bookmarks:active {
    opacity: 0.3;
}

.product-card__headline {
    max-width: 160px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin: 0 auto 15px auto;
    text-align: center;
}

.product-card__old-price {
    margin-bottom: 10px;
    color: #a9a9a9;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: line-through;
    text-transform: uppercase;
}

.product-card__button--price {
    margin-bottom: 20px;
}

.button--price {
    min-width: 141px;
    background-image: url(../img/red-button.svg);
    background-color: transparent;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.button--price:hover,
.button--price:focus {
    background-image: url(../img/red-button-hover.svg);
}

.button--price:active {
    background-image: url(../img/red-button-active.svg);
}

/* === / popular-products === */

/* === popular-brands === */
.popular-brands {

}

.popular-brands__list {
    margin: 0;
    padding: 20px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-brands__item {

}

.popular-brands__link {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 145px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    transition: box-shadow 0.5s;
    overflow: hidden;
}

.popular-brands__link:hover,
.popular-brands__link:focus {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-brands__link:hover .popular-brands__image {
    transform: scale(1.1);
    transition: 1s;
}

.popular-brands__link:active {
    box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.popular-brands__image {
    transition: transform 1s;
}

/* === / popular-brands === */

/* === services === */
.main-index__services {
    padding-top: 60px;
    padding-bottom: 60px;
}

.services {
    background: url("../img/services-background.jpg") repeat;
}

.services__headline {
    margin: 0 0 30px 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.services__description {
    line-height: 24px;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
}

.services__radio {
    position: absolute;
}

/* === services__tabs ===*/
.services__tabs {

}

.tabs {
    width: 240px;
    list-style: none;
    margin: 0;
    padding: 50px 0;
    position: relative;
}

.tabs::after {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    display: block;
    width: 10px;
    height: 280px;
    background-image: url("../img/tabs-shadow.png");
}

.tabs__button {
    padding: 15px 20px;
    display: flex;
    color: #ffffff;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    box-shadow: inset 0 -1px 0 #42546c;
    background-color: #32425c;
}

.tabs__button:hover,
.tabs__button:focus {
    background-color: #293449;
}

.services__radio--delivery:checked ~ .services__tabs .tabs__button--delivery {
    background-color: #fff;
    color: #32425c;
}

.services__radio--warranty:checked ~ .services__tabs .tabs__button--warranty {
    background-color: #fff;
    color: #32425c;
}

.services__radio--credit:checked ~ .services__tabs .tabs__button--credit {
    background-color: #fff;
    color: #32425c;
}

/* === / services__tabs ===*/

/* === services__cards === */
.services__cards {

}

.cards {
    width: 630px;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 50px 0;
}

.cards__item {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.services__radio--delivery:checked ~ .services__cards .cards__item--delivery {
    display: block;
}

.services__radio--warranty:checked ~ .services__cards .cards__item--warranty {
    display: block;
}

.services__radio--credit:checked ~ .services__cards .cards__item--credit {
    display: block;
}

.cards__item--delivery {
    background: url("../img/background-delivery.png") right 25px no-repeat;
}

.cards__item--warranty {
    background: url("../img/background-warranty.png") right top no-repeat;
}

.cards__item--credit {
    background: url("../img/background-credit.png") right top no-repeat;
}

.cards__headline {
    margin: 0 0 35px 0;
    color: #32425c;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
}

.cards__text {
    margin: 0 0 30px 0;
    line-height: 24px;
    max-width: 280px;
}

.button--services-card {
    width: 195px;
}

.button--services-card:hover,
.button--services-card:focus {
    background-color: #ca2c37;
}

.button--services-card:active {
    background-color: #ba2732;
}

/* === / services__cards === */
/* === / services === */

/* === about-us === */
/* === about-us__description === */
.main-index__about-us {
    padding-top: 80px;
    padding-bottom: 80px;
}

.about-us {
    justify-content: space-between;
    display: flex;
}

.about-us__description {
    max-width: 540px;
}

.about-us__headline {
    margin: 0 0 35px 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us__text {
    line-height: 24px;
    margin: 0 0 30px 0;
    padding: 0;
}

.about-us__delivery-list {
    margin: 0 0 35px 0;
    padding: 0;
    list-style: none;
}

.about-us__delivery-item {
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.about-us__delivery-item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

.button--about-us-description {
    min-width: 220px;
}

.button--about-us-description:hover,
.button--about-us-description:focus {
    background-color: #ca2c37;
}

.button--about-us-description:active {
    background-color: #ba2732;
}

/* === / about-us__description === */

/* === about-us__contacts === */
.about-us__contacts {
    max-width: 300px;
}

.about-us__map {
    margin-bottom: 30px;
    border: none;
}

.button--write-us {
    width: 100%;
}

.button--write-us:hover,
.button--write-us:focus {
    background-color: #ca2c37;
}

.button--write-us:active {
    background-color: #ba2732;
}

/* === / about-us__contacts === */
/* === / about-us === */
/* === / main === */

/* === footer === */
.page-footer {
    color: #fff;
    font-family: "Cuprum", Arial, sans-serif;
}

/* === top === */
.page-footer__top {
    background-color: #32425c;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-footer p,
.main-footer ul {
    margin: 0;
    padding: 0;
}

.logo--footer {
    display: inline-flex;
    padding: 15px 40px;
    font-size: 30px;
    line-height: 30px;

}

.page-footer__logo {
    margin-bottom: 30px;
}

.page-footer__address {
    margin-bottom: 50px;
    display: block;
    max-width: 350px;
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
}

.page-footer__footer-navigation {
    padding-top: 40px;
}

.footer-navigation__list {
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.footer-navigation__item {
    margin-left: 60px;
}

.footer-navigation__link {
    color: #f3f7f9;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.footer-navigation__link:hover,
.footer-navigation__link:focus {
    text-decoration: underline;
}

.footer-navigation__link:active {
    opacity: 0.5;
}

.footer-navigation__link--products {
    color: #ffd180;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

/* === / top === */

/* === bottom === */
.page-footer__bottom {
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #293449;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 18px;
}

.page-footer__copyright {
    max-width: 240px;
}

.page-footer__social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 380px;
}

.page-footer__social-link {
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}

.page-footer__social-link:hover,
.page-footer__social-link:focus,
.page-footer__social-link:active {
    background-color: #ee3643;
}

.page-footer__links-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px;
}

.page-footer__link-wrapper {
    margin: 0;
    max-width: 300px;
}

.page-footer__link {
    color: #ffd180;
    text-decoration: none;
}

.page-footer__link:hover,
.page-footer__link:focus {
    text-decoration: underline;
}

.page-footer__link:active {
    color: #ee3643;
}

/* === / bottom === */
/* === / footer === */
/* === / index-page === */

/* === catalog-page === */
/* === main === */

.main-catalog {

}

.main-catalog__wrapper-outside {
    display: flex;
    flex-direction: column;
}

.main-catalog__category-headline {
    order: 1;
}

.category-headline {
    font-family: "Cuprum", Arial, sans-serif;
    margin: 0 0 20px 0;
    padding: 30px;
    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #f2f6f8;
}

/* === breadcrumbs === */

.main-catalog__breadcrumbs {

}

.breadcrumbs {
    margin: 0;
    padding: 25px 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs__item {
    position: relative;
}

.breadcrumbs__item:not(:first-child)::before {
    content: "";
    position: absolute;
    top: 3px;
    left: -25px;
    display: inline-block;
    width: 8px;
    height: 12px;
    background: url("../img/icon-right.svg") no-repeat;
    background-size: 8px 12px;
}

.breadcrumbs__item:first-child .breadcrumbs__link {
    display: inline-block;
    width: 14px;
    height: 18px;
    background: url("../img/icon-home.svg") 50% 50% no-repeat;
}

.breadcrumbs__link {
    margin-right: 40px;
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

/* === / breadcrumbs === */

.main-catalog__wrapper-columns {
    order: 1;
    display: flex;
    justify-content: space-between;
}

/* === filter === */
.main-catalog__filter {

}

.filter {
    width: 220px;
}

.filter__title {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    background-color: #f7f3ec;
    padding: 10px 18px;
    margin-bottom: 10px;
}

.filter__form {

}

.filter__group {
    margin: 0 0 30px 0;
    padding: 0;
    border: none;
}

.filter__group-title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filter__label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #283136;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}

.filter__label:hover {
    color: #000000;
}

.catalog-filter label:hover .radio-indicator,
.catalog-filter label:hover .checkbox-indicator {
    opacity: 1;
}

.catalog-filter fieldset:first-of-type legend {
    margin-bottom: 50px;
}

/* === range ===*/
.filter__range-wrapper {
    display: flex;
    justify-content: center;
    /*width: 260px;*/
    height: 80px;
    margin-bottom: 15px;
    background-color: #eeeeee;
    border-radius: 5px;
}

.filter__range {
    max-width: 110px;
    display: inline-block;
}

.filter__output-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.filter__output-wrapper::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #444444;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.filter__output {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 95px;
    box-sizing: border-box;
    background-color: #eee;
}

/* === / range ===*/

/* === checkbox === */
.filter__checkbox-indicator {
    width: 27px;
    height: 23px;
    margin-right: 10px;
    display: inline-block;
    opacity: 0.4;
}

.filter__checkbox + .filter__checkbox-indicator {
    background: url("../img/checkbox-off.svg") no-repeat;
}

.filter__checkbox:checked + .filter__checkbox-indicator {
    background: url("../img/checkbox-on.svg") no-repeat;
}

/* === / checkbox === */

/* === radio ===*/
.filter__radio-indicator {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    display: inline-block;
    opacity: 0.4;
}

.filter__radio + .filter__radio-indicator {
    background: url("../img/radio-off.svg") no-repeat;
}

.filter__radio:checked + .filter__radio-indicator {
    background: url("../img/radio-on.svg") no-repeat;
}

/* === / radio ===*/

.catalog-filter input:focus + .radio-indicator,
.catalog-filter input:focus + .checkbox-indicator {
    opacity: 1;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;

}

/* === button === */

.button--filter {
    width: 140px;
    font-size: 13px;
    font-family: "PT Sans", Arial, sans-serif;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
    color: #000000;
}

.button--filter:hover,
.button--filter:focus {
    border-color: #bdc6ca;
}

.button--filter:active {
    border-color: #ee3643;
    outline: none;
}

.button--filter:active .filter__button-text {
    opacity: 0.3;
}

/* === / button === */
/* === / filter === */

/* === catalog === */
.main-catalog__catalog {
    /*temporary*/
    max-width: 700px;
}

/* === / catalog === */
/* === sort === */
.sort {
    padding: 10px 20px;
    background-color: #f7f3ec;
    display: flex;
    flex-wrap: wrap;
}

.sort__title {
    margin-right: 20px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort__list {
    display: flex;
    margin: 0;
    padding: 0;
    line-height: 18px;
    text-transform: uppercase;
    list-style-type: none;
    /*opacity: 0.3;*/
}

.sort__list--type {
    max-width: 380px;
    margin: 0 25px 0 auto;
}

.sort__item--type {
    margin-right: 25px;
}

.sort__list--direction {
    padding-left: 20px;
}

.sort__item--direction {
    margin-right: 18px;
}

.sort__link {
    text-decoration: none;
    color: #000000;
    opacity: 0.3;
}

.sort__link:hover {
    opacity: 0.3;
}

.sort__link:active {
    opacity: 1;
    color: #ee3643;;
}

.sort__link--current {
    color: #ee3643;
    opacity: 1;
}

.sort__link--current:hover {
    opacity: 1;
    color: #000000;
}

/* === / sort === */

/* === products-list === */
.catalog__products-list {
    padding-top: 20px;
}

.products-list {
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products-list__product-card {
    margin-bottom: 20px;
}

/* === / products-list === */
/* === pagination === */
.pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.catalog__pagination {
    margin-top: 30px;
    margin-bottom: 60px;
}

.pagination__item {
    margin-right: 10px;
}

.pagination__link {
    text-decoration: none;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 38px;
    height: 38px;
    border: 1px solid #e5e5e5;
    color: #000000;
    background-color: #ffffff;
}

.pagination__link:hover,
.pagination__link:focus {
    border-color: #bdc6ca;
}

.pagination__link:active {
    border-color: #ee3643;
    color: #000000
}

.pagination__link--current {
    color: #ffffff;
    background-color: #ee3643;
}

.pagination__link--next {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
}

/* === / pagination === */

/* === category-description ===*/
.main-catalog__category-description {

}

.category-description {
    background-color: #f2f6f8;
    padding-top: 65px;
    padding-bottom: 65px;
}

.category-description__headline {
    margin: 0 0 35px 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.category-description__text {
    margin: 0;
    padding: 0;
    line-height: 24px;
}

/* === / main === */
/* === / catalog-page === */

/* === modal === */
/* === write-us === */
.modal {
    position: fixed;
    display: none;
    background-color: #fff;
}

.modal--write-us {
    bottom: 50%;
    left: 50%;
    z-index: 10;
    width: 620px;
    margin-bottom: -215px;
    margin-left: -310px;
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
    border-top: 7px solid #ff5257;
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}

.modal__form {

}

.modal__inputs-wrapper {
    padding: 50px 80px 30px;
}

.modal__columns-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal__label {

}

.modal__label-text {
    display: block;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}

.modal__input {
    font-family: "Cuprum", Arial, sans-serif;
    color: #999999;
    font-size: 13px;
    line-height: 18px;
    border: 2px solid #d7dcde;

    box-sizing: border-box;
}

.modal__input:hover {
    border-color: #b5b5b5;
}

.modal__input:focus {
    border-color: #ee3643;
}

.modal__input--client-name,
.modal__input--client-email {
    width: 220px;
    height: 38px;
    padding: 10px 15px;
}

.modal__input--client-message {
    width: 100%;
    padding: 10px 15px;
    resize: none;
}

.modal__button-wrapper {
    background-color: #f4f4f4;
    padding: 37px 80px;
    display: flex;
    justify-content: space-between;
}

.button--modal-write-us {
    width: 100%;
    border: none;
}

.button--modal-write-us:hover,
.button--modal-write-us:focus {
    background-color: #ca2c37;
}

.button--modal-write-us:active {
    background-color: #ba2732;
}

.modal__close-button {
    border: none;
    background: none;
    opacity: 0.3;
    position: absolute;
    right: 9px;
    top: 9px;
}

.modal__close-button:hover { opacity: 1; }

.modal__close-button:active { opacity: 0.1; }
/* === write-us === */

/* === map ===*/
.modal--map {
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal__map {
    border: none;
}

.modal__close-button--map {
    right: -40px;
}
/* === / map === */

/* === cart === */
.modal--cart {
    width: 620px;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
    border-top: 7px solid #ff5257;
}

.modal__top-wrapper {
    padding: 50px 80px;
}

.modal__notice {
    display: flex;
    min-height: 66px;
    align-items: center;
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    padding-left: 100px;
    background: url("../img/icon-green-check.svg") left 50% no-repeat;
}

.button--modal-order-now {
    width: 220px;
}

.button--modal-order-now:hover,
.button--modal-order-now:focus {
    background-color: #ca2c37;
}

.button--modal-order-now:active {
    background-color: #ba2732;
}

.button--modal-continue-shopping {
    width: 220px;
    background-color: #ffffff;
    color: #000000;
}

.button--modal-continue-shopping:hover,
.button--modal-continue-shopping:focus {
    outline: 1px solid #bdc6ca;
}

.button--modal-continue-shopping:active {
    outline: 1px solid #ee3643;
}



/* === / cart === */
/* --------- animation ----------- */
@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }
    70% {
        transform: translateY(30px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

@keyframes emergence {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

/* === / modal === */

/* === media === */

@media (max-width: 1199px) {
    .padding-site {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* === index-page === */
    .page-header__wrapper-info {
        justify-content: space-between;
    }

    .page-header__login-menu {
        margin-left: 0;
    }

    .features {
        justify-content: space-around;
    }

    .services__wrapper {
        justify-content: flex-start;
    }

    .about-us {
        justify-content: space-around;
    }

    .cards {
        margin: 0 auto;
    }

    .about-us__text {
        max-width: 400px;
    }
    /* === index-page === */

    /* === catalog-page === */
    .main-catalog__wrapper-columns {
        justify-content: space-around;
    }
    /* === / catalog-page === */
}

@media (min-width: 768px) and (max-width: 991px) {
    /* === header === */
    .page-header__wrapper-top {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: 10px;
    }

    .order-menu {
        width: 100%;
    }

    .page-header__order-menu {
        margin-left: 0;
    }

    .order-menu__list {
        justify-content: space-between;
    }

    .page-header__wrapper-info {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .page-header__wrapper-info--logined {
        flex-wrap: wrap;
    }

    .page-header__slogan {
        margin-right: 20px;
        flex-shrink: 0;
    }

    .page-header__contacts {
        margin-right: 20px;
    }

    .page-header__login-menu {
        margin-left: 0;
    }

    .login-menu__wrapper {
        flex-wrap: wrap;
    }

    .button--login {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .button--registration {
        width: 100%;
    }

    .site-navigation__link {
        min-width: 200px;
    }
    /* === / header === */

    /* === index-page === */
    .features {
        flex-wrap: wrap;
    }

    .features__left-column {
        margin: 0 auto 20px auto;
    }

    .features__right-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 640px;
        margin: 0 auto;
    }

    .popular-products__list {
        justify-content: space-around;
    }

    .product-card {
        margin-bottom: 20px;
    }

    .popular-brands__list {
        justify-content: space-around;
    }

    .cards__item {
        box-sizing: border-box;
        padding-left: 20px;
    }

    .about-us {
        justify-content: space-around;
    }

    .about-us__description {
        max-width: 400px;
        padding-right: 20px;
    }
    /* === / index-page === */

    /* === catalog-page === */
    .login-menu--logined {
        display: flex;
        padding-top: 20px;
        justify-content: space-between;
        width: 100%;
    }

    .main-catalog__wrapper-columns {
        flex-wrap: wrap;
    }

    .filter {
        width: 100%;
        margin-bottom: 20px;
    }

    .filter__form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .filter__group {
        margin: 0 0 30px 0;
        flex-shrink: 0;
        width: 220px;
    }

    .button--filter {
        width: 300px;
        margin: 0 auto;
    }

    .main-catalog__catalog {
        max-width: 100%;
    }

    .product-card {
        margin-right: 10px;
    }
    /* === catalog-page === */

    /* === footer === */
    .page-footer__wrapper-logo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .page-footer__address {
        margin-bottom: 0;
        align-self: center;
    }

    .page-footer__footer-navigation {
        margin: 0 auto;
    }
    /* === footer === */
}

@media (min-width: 576px) and (max-width: 767px){
    /* === header ===*/
    .page-header__wrapper-top {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .logo {
        margin-bottom: 10px;
    }

    .order-menu {
        width: 100%;
    }

    .page-header__order-menu {
        margin-left: 0;
    }

    .order-menu__list {
        justify-content: space-between;
    }

    .page-header__wrapper-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .page-header__slogan {
        margin-right: auto;
        margin-bottom: 20px;
    }

    .page-header__phone {
        padding-right: 20px;
        width: 250px;
    }

    .page-header__login-menu {
        margin-left: 0;
    }

    .site-navigation__link {
        min-width: 200px;
    }
    /* === / header ===*/

    /* === index-page ===*/
    .features {
        flex-wrap: wrap;
    }

    .features__left-column {
        margin: 0 auto 20px auto;
    }

    .features__left-column-wrapper {
        flex-wrap: wrap;
    }

    .slider {
        width: 100%;
    }

    .features__right-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 640px;
        margin: 0 auto;
    }

    .mini-banner {
        width: 100%;
    }

    .section-header {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .section-header__headline {
        margin-bottom: 20px;
    }

    .popular-products__list {
        justify-content: space-around;
    }
    .product-card {
        margin-bottom: 20px;
    }

    .popular-brands__list {
        justify-content: space-around;
    }

    .cards__item {
        box-sizing: border-box;
        padding-left: 20px;
        background: none;
    }

    .about-us {
        flex-wrap: wrap;
    }

    .about-us__description {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .about-us__headline {
        text-align: center;
    }

    .button--about-us-description {
        width: 100%;
    }

    .about-us__contacts {
        min-width: 100%;
    }
    /* === /index-page ===*/

    /* === catalog-page ===*/
    .main-catalog__wrapper-columns {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter {
        width: 100%;
    }

    .filter__group {
        margin: 0 auto 20px auto;
        width: 50%;
    }

    .button--filter {
        display: block;
        margin: 0 auto 20px auto;
        width: 50%;
    }

    .sort__item--type {
        margin-right: 15px;
    }

    .products-list {
        justify-content: space-around;
    }

    .product-card {
        margin-right: 10px;
    }
    /* === / catalog-page ===*/

    /* === footer ===*/
    .footer-navigation__item {
        margin-left: 40px;
    }

    .page-footer__bottom {
        justify-content: space-around;
    }

    .page-footer__copyright {
        margin-bottom: 20px;
    }

    .page-footer__social-list {
        margin-bottom: 20px;
    }
    /* === footer ===*/
}

@media (max-width: 575px) {
    /* === header ===*/
    .page-header__wrapper-top {
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo {
        margin-bottom: 10px;
    }

    .order-menu__list {
        flex-wrap: wrap;
    }

    .page-header__wrapper-info {
        justify-content: center;
    }

    .page-header__login-menu {
        margin-left: 0;
    }

    .page-header__slogan {
        margin: 0 0 20px 0;
    }

    .page-header__contacts {
        margin-bottom: 20px;
    }

    .site-navigation__item {
        width: 100%;
    }

    .site-navigation__link {
        min-width: 100%;
    }
    /* === / header === */

    /* === index-page === */
    .features {
        flex-wrap: wrap;
    }

    .features__left-column-wrapper {
        flex-wrap: wrap;
    }

    .features__right-column {
        width: 100%;
    }

    .slider {
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .slider__toggle {
        bottom: 30px;
    }

    .slider__toggle--left {
        right: 50px;
        left: auto;
    }

    .slider__toggle--right {
        right: 20px;
    }

    .mini-banner {
        width: 100%;
    }

    .section-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-header__headline {
        margin-bottom: 20px;
    }

    .popular-products__list {
        justify-content: space-around;
    }

    .product-card {
        margin-bottom: 20px;
    }

    .popular-brands__list {
        justify-content: space-around;
    }

    .cards__item {
        box-sizing: border-box;
        padding-left: 20px;
        background: none;
    }

    .about-us {
        flex-wrap: wrap;
    }

    .about-us__description {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .about-us__headline {
        text-align: center;
    }

    .button--about-us-description {
        width: 100%;
    }

    .about-us__contacts {
        min-width: 100%;
    }
    /* === index-page === */

    /* === catalog-page === */
    .main-catalog__wrapper-columns {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter {
        width: 100%;
    }

    .filter__group {
        margin: 0 auto 20px auto;
        width: 50%;
    }

    .button--filter {
        display: block;
        margin: 0 auto 20px auto;
        width: 50%;
    }

    .sort__title {
        margin-bottom: 20px;
    }

    .sort__list--type {
        margin: 0;
        flex-wrap: wrap;
        width: 100%;
    }

    .sort__list--direction {
        padding-left: 0;
        width: 100%;
    }

    .sort__item--type {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
    }

    .products-list {
        justify-content: space-around;
    }

    .product-card {
        margin-right: 10px;
    }
    /* === / catalog-page === */

    /* === footer === */
    .page-footer__top {
        justify-content: center;
    }

    .page-footer__footer-navigation {
        padding-top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .footer-navigation__list {
        display: block;
    }

    .footer-navigation__item {
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .page-footer__bottom {
        justify-content: space-around;
    }

    .page-footer__copyright {
        margin-bottom: 20px;
    }

    .page-footer__social-list {
        margin-bottom: 20px;
    }
    /* === footer === */
}
/* === / media === */
